* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
}

header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 9999999999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
    color: #2c3e50;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links > a {
    text-decoration: none;
    color: #333333;
    transition: color 0.2s;
}

.nav-links > a:hover {
    color: skyblue;
}

.hero {
    height: 70em;
    display: flex;
    align-items: center;
    background-color: #101010;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.highlight {
    color: #ffbc76;
}

.btn {
    display: inline-block;
    background: #ff9626;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: 600;
    transition: background 0.3s;
}

.btn:hover {
    background: #ffbc76;
}

.about {
    padding: 100px;
    background: #222222;
}

.about h2, .projects h2, .contact h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #ffffff;
}

.about-content {
    display: flex;
    gap: 60px;
    align-items: center;
}

.profile-image {
    flex: 0.5;
}

.image-holder {
    background: #ddd;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #777777;
}

.image-holder > img {
    width: 300px;
    border-radius: 10px;

}

.bio {
    flex: 1;
}

.bio p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #ffffff;
}

#Lua {
    color: #0077ca;
    font-weight: 700;
}

.skills {
    margin-top: 30px;
}

.skill {
    display: inline-flex;
    background: #ff9626;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 1em;
}

.projects {
    padding: 100px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-image > img{
    width: 200px;
}

.project-image {
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card h3 {
    padding: 20px 20px 0;
    color: #2c3e50;
}

.project-card p {
    padding: 0 20px 20px;
    color: #777;
}

footer {
    background: #000000;
    color: white;
    padding: 50px 0 20px;
    text-align: center;
}

footer p {
    font-size: 5em;
    color: #bbbbbb;
}
